<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.5.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.170.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net472" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.4.0.46" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.4.0.46" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
</packages>